<div class="title-head">
  <!-- <%= button_to artworks_path, method: :get, id: :btn_image do %> --> quiero que sea un refresh
    <h1 class="text-center my-4"><strong><%= @title%>s</strong></h1>
  <!-- <% end %> -->
</div>

<div class="container">
    <div class="cards my-5">
      <% @artworks.each do |artwork| %>
        <div class="d-flex flex-column mb-4">
          <div class="card-category">
            <%= button_to artwork_path(artwork), id: :btn_image, method: :get do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path artwork.photos[0].key %>')">
                <% if artwork.owner == current_user %>
                  <p class="mb-0" id="owned_flag">Owned by you!</p>
                <% else %>
                  <%= link_to "Buy now",  new_artwork_purchase_path(artwork), id: :btn_buy %>
                <% end %>                
              </div>
            <% end %>
          </div>
          <div class="mt-3 d-flex justify-content-between align-items-center">
            <%= link_to artwork_path(artwork), class: :btn_link do %>
              <h5 class="mb-0"><%= artwork.title %></h5>
            <% end %>
            <p class="mb-0"><strong>Price:</strong> <i class="fab fa-btc"></i> <%= artwork.price %></p>
          </div>
        </div>
      <% end %>

    </div>

    <div class="centrar3">
      <div class="centrarboton ml-auto p-2 btn btn-beige"><%= link_to "Go to Painting", artworks_path(@artworks,:technique => "painting" ) %></div>
      <div class= "centrarboton ml-auto p-2 btn btn-beige"><%= link_to "Go to Sculpture", artworks_path(@artworks,:technique => "sculpture" ) %></div>
      <div class="centrarboton ml-auto p-2 btn btn-beige"><%= link_to "Go to Digital", artworks_path(@artworks,:technique => "digital" ) %></div> 
    </div>

    <div class="d-flex my-4">

</div>
