<div class="container">

  <div class="d-flex my-0">
    <div class="ml-auto p-0"><%= link_to " ↩︎ Back to shopping", artworks_path(@artworks,:technique => @artwork.technique ), id: :btn_back %></div>
  </div>

  <div class="text-center">LET'S GET STARTED</div>

  <h1 class="text-center py-4">Sell with us</h1>
<div id="form">
  <p>Please fill in the following information about the artwork you wish to put on sale</p>
  <%= simple_form_for @artwork do |a| %>
    <%= a.input :title %>
    <%= a.input :technique, collection: Artwork::TECHNIQUES %>
    <%= a.input :price, as: :numeric %>
    <%= a.input :photos, as: :file, input_html: { multiple: true } %>
    <p class="font-italic">Disclosure: in order to protect every member of the ARTVANCED family, all artworks are reviewed before going on sale.</p>
    <%= a.submit "Submit", class: "btn btn-beige" %>
  <% end %>
</div>
</div>
