<div class="container">

  <div class="artwork-cover my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @artwork.photos[0].key %>')"></div>

  <div class="">
    <div>

      <div class="d-flex my-4">
        <div><h2>Details</h2></div>
        <div class="ml-auto p-2 btn btn-beige">
          <% if @artwork.owner == current_user %>
            <p class="mb-0">Owned by you!</p>
          <% else %>
            <%= link_to "Buy now", new_artwork_purchase_path(@artwork) %>
          <% end %>  
        </div>

      </div>

      <div>
        <h4 class="py-2">Title</h4>
        <p> <%= @artwork.title %></p>
        <h4 class="py-2">Technique</h4>
        <p> <%= @artwork.technique %></p>
        <h4 class="py-2">Price: </h4>
        <p><i class="fab fa-btc"></i> <%= @artwork.price %></p>
      </div>
    </div>
  </div>
</div>
