<!DOCTYPE html>
<html>
  <head>
    <title>Artvanced</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless action_name == "welcome" %>

      <div class="background">
        <%= render 'shared/navbar' %>
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>

      <div class="footer my-4">
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>

        <div class="footer-links">
          <div>
            HOW IT WORKS
          </div>
          <div class="px-2"> | </div>
          <div>
            FAQ
          </div>
          <div class="px-2"> | </div>
          <div>
            CONTACT US
          </div>
        </div>

        <div class="footer-copyright">
          ® Artvanced 2021
        </div>
      </div>

    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
